---
layout: home
---

<div class="about">
  <p>
    I am a Physics graduate with a minor in Data Science from Michigan State University, with a strong foundation in scientific computing, machine learning, and mathematical modeling.
    My work combines domain knowledge from physics with technical expertise in Python, PyTorch, and data analysis to explore complex systems through emulator-based modeling and uncertainty quantification. I’m particularly interested in the intersection of machine learning and the physical sciences, and have applied neural networks to study moment closures in kinetic theory. My approach blends analytical rigor with practical implementation, aiming to develop robust and interpretable models for real-world scientific problems.
  </p>

  <hr />

  <h2>Experience</h2>
  <div class="timeline">
    {% for job in site.data.experience %}
      <div class="company">
        <div class="company-header">
          {% if job.logo %}
            <img src="{{ job.logo }}" alt="{{ job.company }} logo" class="company-logo" />
          {% endif %}
          <h3 class="company-name">{{ job.company }}</h3>
        </div>

        {% for role in job.roles %}
          <div class="timeline-entry">
            <div class="dot"></div>
            <div class="content">
              <h4>{{ role.title }}</h4>
              <p class="location">{{ role.location }}</p>
              <p class="date">{{ role.date }}</p>
              <ul>
                {% for point in role.description %}
                  <li>{{ point }}</li>
                {% endfor %}
              </ul>
              {% if role.link %}
                <p><a href="{{ role.link }}" target="_blank">View Project →</a></p>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>

  <hr />

  <h2>Skills</h2>
  <ul>
    <li><strong>Languages</strong>: Python, C++, SQL, Bash, Shell, R, RStudio</li>
    <li><strong>Data & ML</strong>:  PyTorch, NumPy, Git, Anaconda, Scikit-Learn, SQL, Pandas, Power BI.</li>
    <li><strong>Simulation</strong>: Object Oriented Programming, Linear Regression, Logistic Regression, KNN, Principal Component Analysis (PCA), Support Vector Machines (SVM), Random Forest, Neural Networks</li>
    <li><strong>Computer Science Foundations</strong>: Data Structures (Arrays, Trees, Graphs, Hash Tables), Algorithms (Sorting, Dynamic Programming, Recursion)</li>
    <li><strong>Data Manipulation</strong>: Data Wrangling, Data Visualization, Statistical Modeling, Predictive Analytics</li>
  </ul>
</div>


<!-- <h2>Education</h2>
  <div class="education">
    {% for edu in site.data.education %}
      <div class="education-entry">
        <h3 class="institution">{{ edu.institution }}</h3>
        <p class="degree">{{ edu.degree }}</p>
        <p class="description">{{ edu.description }}</p>
      </div>
    {% endfor %}
  </div> -->