<header class="site-header">
    <nav class="site-nav">
      <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title }}</a>
      <div class="nav-links">
        <a href="{{ '/posts' | relative_url }}">Posts</a>
        <a href="{{ '/projects' | relative_url }}">Projects</a>

        <a href="https://www.linkedin.com/in/ekaksh-kataria/" target="_blank" rel="noopener noreferrer" class="linkedin-button">
          <img src="{{ 'assets/images/header_logo/linkedin_logo.webp' | relative_url }}" alt="LinkedIn" class="linkedin-icon">
        </a>       
        
        <a href="https://github.com/bhatiashash" target="_blank" rel="noopener noreferrer" class="github-button">
          <img src="{{ 'assets/images/header_logo/github_logo2.png' | relative_url }}" alt="GitHub" class="github-icon">
        </a>

      </div>
      {% include toggle-theme.html %}
    </nav>
</header>